        Header {
            background-color: rebeccapurple;
            margin: 0 auto;
            width: 100%;
            color: white;
        }
        
        nav ul li {
            display: inline-block;
            padding: 4px;
            background-color: purple;
            color: white;
        }
        
        a {
            margin-left: auto;
            margin-top: -4px;
        }